.app {
  height: 100vh;
  display: flex;
  color: white;
  background-color: #020230;
}

.main {
  width: 75%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpg") center;
  display: flex;
  flex-direction: column;
}

.pyramid {
  width: 25%;
  background-color: #020230;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  padding: 20px;
  list-style: none;
  width: 100%;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  width: 30%;
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.top {
  height: 50%;
  position: relative;
}

.bottom {
  height: 50%;
}

@media (max-width: 800px) {
  .main {
    width: 65%;
  }
  .pyramid {
    width: 35%;
  }
  .moneyListItemNumber {
    font-size: 15px;
  }
  .moneyListItemAmount {
    font-size: 15px;
    font-weight: 300;
  }
  .endText {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .main {
    width: 65%;
  }
  .pyramid {
    width: 35%;
  }
  .moneyListItemNumber {
    font-size: 12px;
  }
  .moneyListItemAmount {
    font-size: 12px;
    font-weight: 300;
  }
  .endText {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .main {
    width: 65%;
  }
  .pyramid {
    width: 35%;
  }
  .moneyListItemNumber {
    font-size: 10px;
  }
  .moneyListItemAmount {
    font-size: 10px;
    font-weight: 300;
  }

  .endText {
    font-size: 12px;
  }
}
